@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=IBM+Plex+Mono&family=IBM+Plex+Sans&family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&display=swap');

body {
    background-color: #212121;
    font-family: "IBM Plex Serif", sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
}

.teamHeader {
    font-size: 70pt;
    color: #4a86e8;
}

header {
    color: #666666;
}

nav {
    font-family: "Rajdhani", sans-serif;
    color: #a4c2f4;
    font-size: 27pt;
    overflow: hidden;
    text-align: center;
}

nav a {
    color: #a4c2f4;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}
