@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=IBM+Plex+Mono&family=IBM+Plex+Sans&family=Noto+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;700&display=swap');


body {
    background-color: #212121;
    font-family: "IBM Plex Serif", sans-serif;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-family: "Rajdhani", sans-serif;
}

.teamHeader {
    font-size: 50pt;
    color: #4a86e8;
}

header {
    color: #666666;
}

nav {
    font-family: "Rajdhani", sans-serif;
    font-weight: bold;
    color: #a4c2f4;
    font-size: 27pt;
    overflow: hidden;
    text-align: center;
}

nav a {
    color: #a4c2f4;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.color-test{
    color: white;
    font-family: 'Rajdhani';
    text-align: center;
    font-size: 18pt;
    line-height: 1.5;
    padding-bottom: 1%;

}

.resourceimg {
    float: right;
    width: 500px;
    height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.firstwebhyper {
    color: blue;
    font-size: 35px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1%;
}

.firstlogo{
    width: 625px;
    height: 375px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.aboutheaders {
    text-transform: uppercase;
    text-align: center;
    font-family: "Rajdhani";
    font-size: 43pt;
    font-weight: lighter;
    color: #ffffff;
}
.aboutboxes {
    text-transform: uppercase;
    text-align: center;
    font-family: "Rajdhani";
    font-size: 38pt;
    font-weight: lighter;
    color: #000;
    background-color: #c9daf8ff;
}

.building_image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left
}

.programming_image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right
}

.strategy_image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: left
}

.outreach_image {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

.Building_Table {
    text-align: center;
    font-family: "Rajdhani";
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    width: 200px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right
}

.Programming_Table {
    text-align: center;
    font-family: "Rajdhani";
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: center
}

.Strategy_Table {
    text-align: center;
    font-family: "Rajdhani";
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    width: 200px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right
}

.Outreach_Table {
    text-align: center;
    font-family: "Rajdhani";
    font-size: 12pt;
    color: rgb(255, 255, 255);
    background-color: rgb(31, 31, 31);
    width: 200px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    float: right;
}

.Roster_Header {
    text-transform: uppercase;
    text-align: left;
    font-family: "Rajdhani", sans-serif;
    float: center;
    color: #4a86e8;
}